#test{
    font-family: 'Comic Sans MS';
    color: darkgreen;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}
body{
    background-color: rgb(63, 60, 60);
}
#linkcolor{
    color: white;
}
#wiplinkcolor{
    color: rgb(255, 0, 0);
}
#whiteoutline{
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}

.rotate90 {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}